<div class='bar_title'></div>

*Introduction to Data Science*

# Assignment 1 - Programming Basics Solutions

Gunther Gust / Vanessa Haustein<br>
Chair of Enterprise AI

Winter Semester 25/26

<img src='https://github.com/GuntherGust/tds2_data/blob/main/images/d3.png?raw=true' style='width:20%; float:left;' />

Answer the questions or complete the tasks outlined below, use the specific method described if applicable.

### Exercise 1: Basics
(a) What is 7 to the power of 4?

In [17]:
7**4

2401

(b) Is it true that 2^13 is smaller than 13^500?

In [18]:
2**13 < 13**500

True

(c) Split this string: `s = "Hi,;there,;Sam!"` into a list.

In [19]:
s = "Hi,;there,;Sam!"

In [20]:
s.split(',;')

['Hi', 'there', 'Sam!']

(d) Given this nested list, use indexing to grab the word "hello"

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

(e) Given this nested dictionary grab the word "hello".

In [22]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

(f) Given the string:

    user@domain.com
    
extract the domain part of the email adress and store it in a new variable called `domain`. Store the username in the variable called `user`.

In [14]:
mail = "user@example.com"
domain = mail.split('@')[1]
domain = domain.split('.')[0]

user = mail.split('@')[0]

 ### Exercise 2: Calculate Circle
Import the math library and use `math.pi` to calculate the area of a circle with radius `r = 5`.
Save the result in a variable named `area`.

In [6]:
import math

r = 5
area = math.pi * r**2
print(area)

78.53981633974483

### Exercise 3: Temperature Conversion  
Create a list of tuples representing temperatures in Celsius and Fahrenheit for all Celsius values from 0 °C to 100 °C in steps of 10.  

Each tuple should have the form `(C, F)`, where  

$F = C \times \frac{9}{5} + 32.$

Store the resulting list in a variable named `temperatures`.

In [7]:
temperatures = [(C, C * 9/5 + 32) for C in range(0, 101, 10)]

temperatures

[(0, 32.0),
 (10, 50.0),
 (20, 68.0),
 (30, 86.0),
 (40, 104.0),
 (50, 122.0),
 (60, 140.0),
 (70, 158.0),
 (80, 176.0),
 (90, 194.0),
 (100, 212.0)]