<div class='bar_title'></div>

*Introduction to Data Science*

# Assignment 2 - Pandas Solutions

Gunther Gust / Vanessa Haustein<br>
Chair of Enterprise AI

Winter Semester 25/26

<img src='https://github.com/GuntherGust/tds2_data/blob/main/images/d3.png?raw=true' style='width:20%; float:left;' />

## Part 1
We will first train how to create functions in python and how to work with flow control statements.

### Exercise 1: Speed Test
You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". However, there are two special conditions:
1. If it’s your birthday (encoded as a boolean parameter in the function), the officer gives you a 5 mph grace: your speed can be 5 mph higher in all cases without getting the respective ticket.
2. If it’s a milestone birthday (a birthday that is a multiple of 10, such as 30, 40, or 50), you will avoid a "Small Ticket" entirely. Additionally, if your adjusted speed (after the birthday bonus) is 60 mph or less, the officer will sing "Happy Birthday" for you (print "Happy Birthday" in the function).

In [1]:
def speed_test(speed, is_birthday, age):

    if is_birthday:
        speed -= 5

    milestone_birthday = (age % 10 == 0)

    if milestone_birthday and speed <= 60:
        print("Happy Birthday!")
        return "No ticket"
    
    if speed <= 60:
        return "No ticket"
    elif 61 <= speed <= 80:
        if milestone_birthday:
            return "No ticket"
        return "Small ticket"
    else:
        return "Big ticket"

In [2]:
print(speed_test(65, True, 40))
print(speed_test(85, False, 29))

Happy Birthday!
No ticket
Big ticket

 ### Exercise 2: Calculate Circle (again)
 (a) Create a function with the name `calculate_circle_measure` that calculates the area of a circle that is defined by a radius. Then, extend the function to calculate either the area or the perimeter of a circle, depending on the input. For this, we need an additional input argument for the function, for example `mode`. Then we can check within the function whether `mode == 'area'` or `mode == 'perimeter'` and perform the calculation accordingly.

In [3]:
from math import pi

def calculate_circle_measure(rad, mode):
    if mode == 'area':
        value = pi*rad*rad
    elif mode == 'perimeter':
        value = 2*pi*rad
    return value

In [ ]:
calculate_circle_measure(5, 'perimeter')
calculate_circle_measure(5, 'perimeter')

31.41592653589793

### Exercise 3: Summing Up
Write a function that calculates the sum of all positive numbers in the list `[3, -1, 4, 'apple', -5, 2, 'alien', -8, 6, 0, -5]`. You can iterate over the list and add up only the negative numbers. You also have to make sure to only consider the right data types when checking for negativity.

In [13]:
def sum_positive_numbers(lst):
    total_sum = 0
    for item in lst:
        if isinstance(item, (int, float)) and item > 0:
            total_sum += item
    return total_sum

In [14]:
sum_positive_numbers([3, -1, 4, 'apple', -5, 2, 'alien', -8, 6, 0, -5])

15

### Exercise 4: Are you an Adult?
Write a Python program that:
- Asks the user to input their name
- Asks the user to input their age
- Defines a function check_age(name, age) that checks if the user is 18 or older
    - If yes → prints: "Hello {name}, you are an adult!"
    - If no → prints: "Hello {name}, you are not an adult yet."

The function should be callable with user input.

In [15]:
def check_age(name, age):
    if age >= 18:
        print(f"Hello {name}, you are an adult!")
    else:
        print(f"Hello {name}, you are not an adult yet.")

In [17]:
user_name = input("Please enter your name: ")
user_age = int(input("Please enter your age: "))
check_age(user_name, user_age)

ValueError: invalid literal for int() with base 10: 'hello'

---

## Part 2
Now let's continue with the second part of the last lecture: **Working with Data**.

We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle. It contains almost 150000 entries of San Francisco city employee salary data.

In a first step, we need to import the `pandas` library. Since this is a commonly used package, it is usually referred to by the alias `pd`, which makes its later use more convenient:

In [ ]:
import pandas as pd

### Exercise 1: Getting an Overview
(a) Read Salaries.csv as a dataframe called sal. You will probably encounter a warning, keep that one in mind for later.

In [ ]:
sal = pd.read_csv('https://raw.githubusercontent.com/vhaus63/ids_data/refs/heads/main/Salaries.csv')

C:\Users\vah55ns\AppData\Local\Temp\ipykernel_25672\1270189698.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv('https://raw.githubusercontent.com/vhaus63/ids_data/refs/heads/main/Salaries.csv')

(b) Check the head of the DataFrame.

In [ ]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

(c) Use the .info() method to find out how many entries there are.

In [ ]:
sal.info() # 148654 Entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

(d) Check how many NaN values we have in our dataframe per column using the `isna()` and the `sum()` function.

In [ ]:
sal.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64