<div class='bar_title'></div>

*Introduction to Data Science*

# Assignment 3 - Pandas Solutions

Gunther Gust / Vanessa Haustein<br>
Chair of Enterprise AI

Winter Semester 25/26

<img src='https://github.com/GuntherGust/tds2_data/blob/main/images/d3.png?raw=true' style='width:20%; float:left;' />

Let's return to the dataset we used last week.

Now let's continue with the second part of the last lecture: **Working with Data**.

We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle. It contains almost 150000 entries of San Francisco city employee salary data.

In a first step, we need to import the `pandas` library. Since this is a commonly used package, it is usually referred to by the alias `pd`, which makes its later use more convenient:

In [2]:
import pandas as pd

### Exercise 1: Loading the Data
Read Salaries.csv as a dataframe called sal. You can find it at `https://raw.githubusercontent.com/vhaus63/ids_data/refs/heads/main/Salaries.csv`. You will probably encounter a warning, keep that one in mind for later.

In [3]:
sal = pd.read_csv('https://raw.githubusercontent.com/vhaus63/ids_data/refs/heads/main/Salaries.csv')

C:\Users\vah55ns\AppData\Local\Temp\ipykernel_25672\1270189698.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv('https://raw.githubusercontent.com/vhaus63/ids_data/refs/heads/main/Salaries.csv')

### Exercise 2: Looking into the data

(a) What is the average BasePay?

Hint: you will probably encounter an error when running the code. Try to find out, where this error comes from and then deal with the troubling values by either replacing them with NaN values or converting them to a numeric type - this way, the pandas function can deal with it.

Second hint: look into the function `pd.to_numeric()` and the _coerce_ value for the `error` parameter.

In [7]:
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce')
sal['BasePay'].mean()

66325.4488404877

(b) What is the highest amount of OvertimePay in the dataset ?

In [8]:
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'], errors='coerce')
sal['OvertimePay'].max()

245131.88

(c) What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up.

In [9]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

(d) How much does JOSEPH DRISCOLL make (including benefits)?

In [10]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

(e) Print all the appearances of the name Joseph Driscoll, regardless of their capitalization

In [11]:
sal[sal['EmployeeName'].str.casefold()=='joseph driscoll']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN
36198,36199,Joseph Driscoll,"Captain, Fire Suppression",145658.98,114513.29,28743.36,42919.16,288915.63,331834.79,2012,NaN,San Francisco,NaN

(f) What is the name of highest paid person (including benefits)?

In [12]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()] #['EmployeeName']
# or
# sal.loc[sal['TotalPayBenefits'].idxmax()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

(g) What was the average BasePay of all employees per year?

In [13]:
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

(h) How many unique job titles are there?

In [14]:
len(sal['JobTitle'].unique())
# or
# sal['JobTitle'].nunique()

2159

(i) What are the 5 least common jobs?

In [23]:
sal['JobTitle'].value_counts().tail(5)

JobTitle
CHIEF HOUSING INSPECTOR                           1
TRAFFIC SIGNAL OPERATOR                           1
COURT COMPUTER FACILITIES COORDINATOR             1
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I    1
VICTIM & WITNESS TECHNICIAN                       1
Name: count, dtype: int64

(j) How many Job Titles were represented by only one person in 2012? (e.g. Job Titles with only one occurence in 2012?)

Hint: Think of it as several steps: First, only take the entries of the year 2012. Then, you can look at the value count of the column `JobTitle` and take only those that occure once. Then you need to aggregate this result properly.

In [16]:
sum(sal[sal['Year']==2012]['JobTitle'].value_counts() == 1)

190

(k) How many people have the word "Chief" in their job title?

Hint: Create a function `chief_string` that returns `true` if the word "Chief" is in a given string (pay attention to upper and lower cases). Then you can use the `apply` method with `chief_string` as a lambda function to check each row in the `JobTitle` column and sum the results.

In [17]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [18]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

### Exercise 3: Analyizing the Data

(a) Add a new column called _TotalPayEuro_ that contains the _TotalPay_ values converted to â‚¬ in.

In [19]:
sal['TotalPayEuro'] = sal['TotalPay'] * 0.9

(b) Pandas provides several statistical methods. One of them is the `corr()` function. Go to https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html and check the documentation of this function to solve this question:

Is there a linear correlation between length of the Job Title string and Salary?

Hint: First, create a new column that contains the length of the Job Title as integer and then perform the correlation analysis with the help of that column.

In [20]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [21]:
sal[['title_len','TotalPayBenefits']].corr() # No correlation.

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000